@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force hide the Next.js Dev Indicator portal */
nextjs-portal {
  display: none !important;
}

/* Optional CSS variables for light/dark mode */
:root {
  --bg-start: 214, 219, 220; 
  --bg-end: 255, 255, 255;   
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-start: 0, 0, 0;
    --bg-end: 30, 30, 30;
  }
}

/* Apply gradient to body */
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
      to bottom,
      rgb(var(--bg-start)),
      rgb(var(--bg-end))
    );
}